---
layout: layout
---
<style>
  .content {
    margin-top: 0
  }

  .sidebar {
    margin-bottom: 0
  }
</style>

  <section class="content">
    <h1>Hiya! I'm Justin Cauchon.</h1>

    <p>I'm a Director of Product at <a href="https://www.yahoo.com/">Yahoo</a>, working on <a href="https://engadget.com/">Engadget</a>. Prior to that, I worked on the product team at <a href="https://wired.com/">Condé Nast</a>, <a href="https://cnet.com/">CNET</a>, <a href="https://slingbox.com/">Slingbox</a> and founded <a href="https://smartphonenation.com/">Smartphone Nation</a>.
      </p>
      <p>
        <p>You can <a href="https://bsky.app/profile/cauchon.net">follow me on Bluesky</a> or <a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#099;&#097;&#117;&#099;&#104;&#111;&#110;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">reach me via email</a>.</p>
      </p>
  </section>

  <section class="content">
    <h2>My posts</h2>
    <ul class="listing table">
      {% for post in site.posts %}
      {% unless post.draft %}
        {% capture currentdate %}{{post.date | date: "%Y"}}{% endcapture %}
        {% if currentdate != thedate %}
          <h3>{{ currentdate }}</h3>
          {% capture thedate %}{{currentdate}}{% endcapture %}
        {% endif %}
        <li>
          <span>{{ post.date | date: "%B %e, %Y" }}</span> <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endunless %}
      {% endfor %}
    </ul>
    <br/><br/>
  </section>