<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

<head>
  {% include head.html %}

  <link rel="stylesheet" href="/css/base.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/css/post.css" type="text/css" media="screen, projection" />

  {% include favicons.html %}

  <meta name="msapplication-TileColor" content="#7BE4D5">
  <meta name="theme-color" content="#7BE4D5">

  {% include analytics.html %}
</head>
<body>
  <div class="top-line"></div>
  <div class="container">
    {{ content }}
  </div>
</body>

</html>
