<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

<head>
  {% include head.html %}

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght,SOFT,WONK@0,9..144,300..700,0..100,0..1;1,9..144,300..700,0..100,0..1&family=Inter:wght@400;500;600&family=JetBrains+Mono:wght@400;500&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/css/home.css" type="text/css" media="screen, projection" />

  {% include favicons.html %}

  <meta name="msapplication-TileColor" content="#3b5bdb">
  <meta name="theme-color" content="#f4f4f2">

  {% include analytics.html %}
</head>
<body>
  <button class="theme-toggle" type="button" aria-label="Toggle dark mode">☾ dark</button>
  <div id="root">
    {{ content }}
  </div>
</body>

</html>
